[Desktop Entry]
Encoding=UTF-8
Version=0.4
Type=Application
Name=tRandom
Comment=Random number generator
Comment[fr]=Générateur de nombres aléatoires
Comment[de]=Zufallszahlengenerator
GenericName=Random Number Generator
GenericName[fr]=Générateur de nombres aléatoires
GenericName[de]=Zufallszahlengenerator
Exec=/usr/bin/trandom/tRandom.py
Icon=/usr/share/trandom/icon.png
Terminal=false
Categories=Application;Utility;Game;Accessory
StartupNotify=false
