Package: tRandom
Version: 0.3
Architecture: all
Maintainer: Fred Boniface <fred@fjla.uk>
Depends: python3 (>= 3.6), python3-tk (>=3.6)
Recommends: 
Suggests: 
Provides: trandom
Installed-Size:2048
Section: Utilities
Priority: optional
Homepage: https://trandom.fjla.uk
Description: tRandom - A cross platform psuedo-random number genorator.
 tRandom is a simple and fast psuedo random number generator that will run on any OS that supports Python 3.6 and above.
 The graphical element uses the Python TK library.
